img{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 45%;
}

.logo{
  height: 50px;
  width: 60px;
}

.content{
  margin-left: 20px;
  margin-right: 20px;
}

.input-item{
  margin-bottom: 10px;
}

